
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:500,400);



@font-face {
  font-family: 'DG';
  src:url('fonts/DG.eot?ma89jv');
  src:url('fonts/DG.eot?#iefixma89jv') format('embedded-opentype'),
    url('fonts/DG.woff?ma89jv') format('woff'),
    url('fonts/DG.ttf?ma89jv') format('truetype'),
    url('fonts/DG.svg?ma89jv#DG') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'DG';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e600";
}
.icon-cancel-circle:before {
  content: "\e601";
}
.icon-close:before {
  content: "\e602";
}
.icon-minus:before {
  content: "\e603";
}
.icon-plus:before {
  content: "\e604";
}
.icon-arrow-left:before {
  content: "\e605";
}
.icon-plus2:before {
  content: "\e606";
}
.icon-plus3:before {
  content: "\e607"; /* plus */
}
.expanded .icon-plus3:before {
  content: "\e603"; /* minus */
}

