/******* Base *******/

button, h1, h2 {
  font-family: 'Roboto Slab';
}

button {
  font-style: bold;
  border: none;
}

p, ol {
  background-color: rgba(41, 128, 185, .2);
  border-radius: 10px;
  padding: .4em;
}


/* Micro reset */
*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
