

/* Hide nav input checkboxes */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.sub-nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Make some moving parts smooth */
.site-wrap, .nav, .nav-trigger + label {
  transition: all .6s ease;
}

/* Slide main content page */
.nav-trigger:checked ~ .site-wrap {
  transform: translatex(75%);
  -webkit-transform: translatex(75%);
}

/* Slide hamburger label */
.nav-trigger:checked + #nav-trigger-label__open {
  left: 80%;
}

/* Slide main navigation */
.sub-nav-trigger:checked ~ .nav {
  transform: translatex(75%);
  -webkit-transform: translatex(75%);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #064780;
  opacity: 0.6;
  z-index: 5;
  margin: 0 -1em;
}
