

/* Hide nav input checkboxes */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.sub-nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Make some moving parts smooth */
.nav-trigger + label, .site-wrap, .nav, #nav-trigger-label__open {
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}

/* Slide main content page */
.nav-trigger:checked ~ .site-wrap {
  transform: translatex(75%);
  -webkit-transform: translatex(75%);
}

/* Slide hamburger label */
.nav-trigger:checked + #nav-trigger-label__open {
  left: 80%;
}

/* Slide main navigation */
.sub-nav-trigger:checked ~ .nav {
  transform: translatex(70%);
  -webkit-transform: translatex(70%);
}

