
/******* NAV ITEM BUTTON MODULE *******/

.nav-item, .sub-nav-item {
  display: block;
  padding: 1em 2em;
  color: white;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #309292;
  width: 80%;
}

.nav-item {
  background-color: rgba(41, 128, 185,1.0);
    &:hover, &:active {
      background-color: #309292;
    }
}

.sub-nav-item {
  background-color: #2FB8AC;
    &:hover, &:active {
      background-color: #309292;
    }
}

/******* INDEXED BUTTON MODULE *******/

.indexed-btn {
  font-family: 'Roboto Slab';
  font-style: bold;
  font-size: 1em;
  letter-spacing: 1px;
    img {
      width: 3.5em;
      margin-bottom: -.5em;
      margin-left: -4.2em;
    }
    span {
      color: white;
    }
}

/******* CHECKBOX LABEL MODULE *******/

#nav-trigger-label__open {
  position: fixed;
  cursor: pointer;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
}
    /*Hamburger*/
#nav-trigger-label__open {
  left: 15px;
  top: 8px;
  z-index: 3;
  background-image: url("../imgs/menu.svg");
}

/******* ACCORDION MODULE *******/

.accordion-header span{
  color: gray;
  padding-right: .7em;
}

.accordion-body p {
  font-family: 'Roboto';
  color: #333;
  letter-spacing: 1px;
  padding-left: 20px;
}

.accordion label {
  padding: 1em 0 0 1em;
  display: block;
  cursor: pointer;
  color: #046D8B;
  line-height: auto;
  }

.accordion-header {
  padding-left: none;
  letter-spacing: none;
  &:active, &:hover {
    color:#309292;
  }
}
.accordion input {
  display: none;
}

.accordion-body {
  overflow: hidden;
  height: 0px;
}

.accordion h2 {
  font-size: 1.1em;
}

/* ACCORDION LISTS AND LIST ITEMS*/
.accordion-body ol {
  padding-left: 3em;
  padding-top: 1em;
}

.accordion-body li {
  list-style: upper-roman;
  letter-spacing: 1px;
  padding-bottom: 1em;
}

.accordion input:checked ~ article.accordion-body{
  height: auto;
  padding: 1%;
}

