
/******* NAV ITEM BUTTON MODULE *******/

.nav-item, .sub-nav-item {
  display: block;
  padding: 1em 2em;
  color: white;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #309292;
  width: 80%;
}

.nav-item {
  background-color: rgba(41, 128, 185,1.0);
    &:hover, &:active {
      background-color: #309292;
    }
}

.sub-nav-item {
  background-color: #2FB8AC;
    &:hover, &:active {
      background-color: #309292;
    }
}

/******* INDEXED BUTTON MODULE *******/

.indexed-btn {
  font-family: 'Roboto Slab';
  font-style: bold;
  font-size: 1em;
  letter-spacing: 1px;
    img {
      width: 3.5em;
      margin-bottom: -.5em;
      margin-left: -4.2em;
    }
    span {
      color: white;
    }
}

/******* CHECKBOX LABEL MODULE *******/

    /*Hamburger*/
#nav-trigger-label__open {
  position: fixed;
  cursor: pointer;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  left: 15px;
  top: 8px;
  z-index: 3;
  background-image: url("../imgs/menu.svg");
}

/******* ACCORDION MODULE *******/

.accordion {
  margin: .5em 0;
}

.accordion-header span{
  color: #2FB8AC;
  padding-right: .7em;
}

.accordion-header {
  padding: .5em;
  display: block;
  cursor: pointer;
  color: grey;
  line-height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  &:active, &:hover {
    background-color: rgba(41, 128, 185,1.0);
    color: #eee;
  }
}
.accordion input {
  display: none;
}

.accordion-body {
  overflow: auto;
  max-height: 0;
  transition: all .4s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #2FB8AC;
  p {
    font-family: 'Roboto';
    letter-spacing: 1px;
    padding-left: 20px;
    color: #eee;
  }
}

.accordion h2 {
  font-size: 1.1em;
}

.accordion input:checked ~ .accordion-body {
  max-height: 15em;
}

/* ACCORDION LISTS AND LIST ITEMS */
.accordion-body ol {
  padding-left: 3em;
  padding-top: 1em;
}

.accordion-body li {
  list-style: upper-roman;
  letter-spacing: 1px;
  padding-bottom: 1em;
}



