/* Hide nav input checkboxes */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.sub-nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0); }

/* Make some moving parts smooth */
.site-wrap, .nav, .nav-trigger + label {
  transition: all .6s ease; }

/* Slide main content page */
.nav-trigger:checked ~ .site-wrap {
  transform: translatex(75%);
  -webkit-transform: translatex(75%); }

/* Slide hamburger label */
.nav-trigger:checked + #nav-trigger-label__open {
  left: 80%; }

/* Slide main navigation */
.sub-nav-trigger:checked ~ .nav {
  transform: translatex(75%);
  -webkit-transform: translatex(75%); }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #064780;
  opacity: 0.6;
  z-index: 5;
  margin: 0 -1em; }

/******* Base *******/
button, h1, h2 {
  font-family: 'Roboto Slab'; }

button {
  font-style: bold;
  border: none; }

p, ol {
  padding: .4em;
  color: #046D8B; }

/* Micro reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

/******** MAIN CONTENT PAGE **********/
.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #eee; }

/******** MAIN NAVIGATION **********/
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  background-color: #046D8B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/******** SUB NAVIGATION **********/
.sub-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow-y: auto;
  background-color: #2FB8AC; }

/******** HEADERS **********/
.nav-header {
  background-color: #064780; }
  .nav-header img {
    width: 32%;
    margin-left: 22%;
    cursor: pointer; }

.header-main {
  width: 100%;
  height: 50px;
  background-color: #eee;
  position: fixed; }

/******** CONTENT POSITION **********/
.content-position {
  padding-top: 50px; }

.content-position h1 {
  font-size: 1.5em;
  color: #046D8B;
  margin-bottom: 1em;
  text-align: center; }

/******** MAIN PAGE ENTRY **********/
.main-page-entry {
  padding: 5% 15% 0; }
  .main-page-entry h1 {
    font-size: 1em; }

/******* NAV ITEM BUTTON MODULE *******/
.nav-item, .sub-nav-item {
  display: block;
  padding: 1em 2em;
  color: white;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #309292;
  width: 80%; }

.nav-item {
  background-color: #2980b9; }
  .nav-item:hover, .nav-item:active {
    background-color: #309292; }

.sub-nav-item {
  background-color: #2FB8AC; }
  .sub-nav-item:hover, .sub-nav-item:active {
    background-color: #309292; }

/******* INDEXED BUTTON MODULE *******/
.indexed-btn {
  font-family: 'Roboto Slab';
  font-style: bold;
  font-size: 1em;
  letter-spacing: 1px; }
  .indexed-btn img {
    width: 3.5em;
    margin-bottom: -.5em;
    margin-left: -4.2em; }
  .indexed-btn span {
    color: white; }

/******* CHECKBOX LABEL MODULE *******/
/*Hamburger*/
#nav-trigger-label__open {
  position: fixed;
  cursor: pointer;
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  left: 15px;
  top: 8px;
  z-index: 3;
  background-image: url("../imgs/menu.svg"); }

/******* ACCORDION MODULE *******/
.accordion {
  margin: .5em 0; }

.accordion-header span {
  color: #2FB8AC;
  padding-right: .7em; }

.accordion-header {
  padding: .5em;
  display: block;
  cursor: pointer;
  color: grey;
  line-height: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white; }
  .accordion-header:active, .accordion-header:hover {
    background-color: #2980b9;
    color: #eee; }

.accordion input {
  display: none; }

.accordion-body {
  overflow: auto;
  max-height: 0;
  transition: all .4s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #2FB8AC; }
  .accordion-body p {
    font-family: 'Roboto';
    letter-spacing: 1px;
    padding-left: 20px;
    color: #eee; }

.accordion h2 {
  font-size: 1.1em; }

.accordion input:checked ~ .accordion-body {
  max-height: 15em; }

/* ACCORDION LISTS AND LIST ITEMS */
.accordion-body ol {
  padding-left: 3em;
  padding-top: 1em; }

.accordion-body li {
  list-style: upper-roman;
  letter-spacing: 1px;
  padding-bottom: 1em; }
