/******** MAIN NAVIGATION **********/

.nav {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
}

.nav-item {
  /* non-critical appearance styles */
  width: 75%;
  display: block;
  padding: 1em;
  background-color: rgba(41, 128, 185,1.0);
  color: white;
  font-size: 1.2em;
  transition: color 0.2s, background 0.5s;
  border-top: 1px solid rgba(236, 240, 241,1.0);
}

.nav-item:hover {
  background-color: rgba(52, 152, 219,1.0);
}


/******** SUB NAVIGATION **********/

.sub-nav {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow-y: scroll;
}

.sub-nav-item {
  /* non-critical appearance styles */
  width: 70%;
  display: block;
  padding: 1em;
  background-color: #27ae60;
  color: white;
  font-size: 1.2em;
  transition: color 0.2s, background 0.5s;
  border-top: 1px solid rgba(236, 240, 241,1.0);
}

.sub-nav-item:hover {
  background-color: #2ecc71;
}


/******** CONTENT PAGE **********/

.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 2;
  /* non-critical apperance styles */
  padding: 4em;
  background-size: 200%;
}

/* Hide nav input checkboxes */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.sub-nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Hamburger and close labels*/
#nav-trigger-label__open {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 22px;
  z-index: 3;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("../imgs/menu.svg");
  background-size: contain;
}

 #sub-nav-trigger-label__close {
  position: fixed;
  left: 60%; top: 25px;
  z-index: 2;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-image: url("../imgs/cancel-circle.svg");
  background-size: contain;
  transition: display 0.7s;
}

/* Make some moving parts smooth */
.nav-trigger + label, .site-wrap, .nav, #nav-trigger-label__open {
  transition: left 0.2s;
}

/* Slide main content page */
.nav-trigger:checked ~ .site-wrap {
  left: 75%;
}

/* Slide hamburger label */
.nav-trigger:checked + #nav-trigger-label__open {
  left: 80%;
}

/* Slide main navigation */
.sub-nav-trigger:checked ~ .nav {
  left: 65%;
}

/******* Specific button colors *******/

#basicRulesBtn {
  background-color: #27ae60;
}

#basicRulesBtn:hover {
  background-color: #2ecc71;
}

/******* Logo *******/

.logo {
  width: 50px;
  position: fixed;
  position: absolute;
  top: 12px;
  left: 12px;
}

/******* Base *******/

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

h1, h3, p {
  width: 90%;
  margin: 0 auto 1em;
}

header {
  height: 73px;
  background-color: silver;
  /*background-color: transparent;*/
}

button {
  border: none;
  text-align: left;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

