
/*Nav-item Module*/

.nav-item, .sub-nav-item {
  display: block;
  padding: .5em;
  color: white;
  font-size: 1.2em;
  transition: color 0.2s, background 0.5s;
  border-top: 1px solid rgba(236, 240, 241,1.0);
}

.nav-item {
  /* non-critical appearance styles */
  width: 75%;
  background-color: rgba(41, 128, 185,1.0);
}

.nav-item:hover {
  background-color: rgba(52, 152, 219,1.0);
}

.sub-nav-item {
  /* non-critical appearance styles */
  width: 70%;
  background-color: #27ae60;
}

.sub-nav-item:hover {
  background-color: #2ecc71;
}


/******* Specific button colors *******/

#basicRulesBtn {
  background-color: #27ae60;
}

#basicRulesBtn:hover {
  background-color: #2ecc71;
}

/*Checkbox label module*/

#nav-trigger-label__open, #sub-nav-trigger-label__close {
  position: fixed;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
/*Hamburger*/
#nav-trigger-label__open {
  left: 15px; top: 22px;
  z-index: 3;
  height: 30px;
  width: 30px;
  background-image: url("../imgs/menu.svg");
}
/*Cancel-circle*/
 #sub-nav-trigger-label__close {
  left: 60%; top: 25px;
  z-index: 2;
  height: 25px;
  width: 25px;
  background-image: url("../imgs/cancel-circle.svg");
}

/******* Logo Module *******/

.logo {
  width: 50px;
  position: fixed;
  position: absolute;
  top: 12px;
  left: 12px;
}

/*Accordian Module*/

.accordian label{
    display: block;
    cursor: pointer;
    color: #046D8B;
    line-height: auto;
    font-size: 1em;
}

.ac-small {
background-color: red;
}

.accordian label:hover:after,
.accordian input:checked + label:hover:after {
    content: '';
    font-style: bold;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
}

.accordian-header:active,
.accordian-header:hover {
color:#309292;
}

.accordian input{
    display: none;
}

.accordian article{
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-small {
    color: black;
    line-height: auto;
    font-size: 1em;
}

.accordian input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.accordian input:checked ~ article.ac-small{
    height: auto;
}
